<div *ngIf="datashare.provincialData != null"  style="background-color: blue; border-radius: 5px; padding: 10px; margin: 10px; color: white;">
  <h4><b>Ontario</b></h4>
  <br>
  <b>Total Cases: </b>{{datashare.provincialData.TotalCases}}
  <br>
  <b>Resolved: </b>{{datashare.provincialData.Resolved}}
  <br>
  <b>Deaths: </b>{{datashare.provincialData.Deaths}}
  <br>
  <b>Hospitalized: </b>{{datashare.provincialData.Hospitalized}}
  <br>
  <b>In ICU: </b>{{datashare.provincialData.ICU}}
  <br>
  <b>In ICU on a ventilator: </b>{{datashare.provincialData.ICUVent}}
  <br>
</div>