<style type="text/css">
  table, th{
    border: 1px solid black;
    text-align: center;
    background-color: rgb(96, 0, 185);
    color:whitesmoke;
    margin-left: 2em;
  }
  td{
    border: 1px solid rgb(96, 0, 185);
    background-color: white;
    width: 100%;
    text-align: center;
    padding: 1em 7em 1em 7em;
  }
  h3{
    padding-left: 15px;
  }
</style>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ontario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-provincial></app-provincial>
  <br>
  <h3>Message: {{message}}</h3>
  <br>
  <div *ngIf="datashare.vaccineData != null">
    <table cellspacing="0" cellpadding="0">
      <th >Summary of total doses Administered</th><tr></tr>
      <div *ngFor="let d of datashare.vaccineData; let i = index;">
        <tr><td><a routerLink="../page1/{{d.report_date}}">{{d.report_date}}</a></td></tr>
      </div>
    </table>
  </div>
</ion-content>